[submodule "FFmpeg"]
	path = FFmpeg
	url = ../../koush/FFmpeg
[submodule "nv-codec-headers"]
	path = nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "libvpl"]
	path = libvpl
	url = https://github.com/intel/libvpl.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
